.homeContainer {
  display: flex;
  justify-content: center;
  height: 100%;

  .vacanciesWrapper {
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .search {
      width: 100%;
      margin-bottom: 16px;
    }

    .vacanсiesList {
      overflow: auto;
      padding-bottom: 40px;
      flex: 1;
    }

    .paginationWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
    }
  }
}
