@import "../../assets/colors.scss";

.vacancyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 20px;

  .vacancyDescription {
    max-width: 773px;
    background-color: $secondBackGround;
    border-radius: 8px;
    padding: 24px;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}
