@import "../../../../assets//colors.scss";

.filtersContainer {
  width: 315px;
  padding: 20px;
  border-radius: 12px;
  background-color: $secondBackGround;
  color: $text;
  height: fit-content;

  .filtersHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    label {
      font-size: 20px;
      font-weight: 700;
    }

    button {
      background-color: transparent;
      border: none;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $textGrey;
      cursor: pointer;

      svg {
        margin-left: 4px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .priceSelectors {
    margin-top: 20px;

    label {
      font-weight: 700;
      font-size: 16px;
    }
    .priceSelector {
      margin-top: 8px;
    }
  }

  .applyButton {
    width: 100%;
    margin-top: 20px;
  }

  @media (max-width: 600px) {
    display: none;
  }
}
